Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPerson
Content/ThirdPersonBP
Content/StarterContent
Content/KiteDemo
Content/PN_interactiveSpruceForest
Content/Geometry
Content/Mannequin